transformers
bitsandbytes
accelerate

#python -m pip install "optimum-intel[extras]"@git+https://github.com/huggingface/optimum-intel.git
#pip install neural-compressor , pip install onnx
# ctransformers

#Audio
librosa
soundfile
pydub